* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.primary_btn {
    height: 64px;
    background: #FD6E0A;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: 700;
}

section {
    margin-top: 130px;
}

/* header and navigation styles */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.primary_text {
    color: #FD6E0A;
}

.nav_title {
    font-size: 45px;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

/* banner styles */
.banner {
    display: flex;
    align-items: center;
    margin: 0 63px 0 200px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner_description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section_title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 700;

}

.section_description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.about_info_container {
    display: flex;
    justify-content: space-around;
}

.about .info_title {
    font-size: 20px;
    color: #757575;
}

.info_description {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

/* what i do style */

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skills_container {
    display: flex;
    gap: 24px;
}

.skill_title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill_description {
    color: #757575;
}

/* Resume styles */
.resume_content {
    display: flex;
    gap: 24px;
}

.resume .title {
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 10px;
}

.resume .sub_title {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.resume .description {
    color: #757575;
}

.resume_item {
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume_button{
    margin-top: 50px;
    text-align: center;
}
/* contact styles */
.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contact .section_title{
    text-align: left;
}
.contact input[type="text"], input[type="email"], textarea{
margin-bottom: 24px;
border: 0;
width: 100%;
padding:18px 30px;
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
    margin: 10px;
}